*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #0b0420;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo{
    color: rgb(251, 84, 6);
    padding-top: 20px;
    padding: 50px;   
}

.menu{

  text-align: center;
}

.menu ul{
    display: inline-flex;
    list-style: none;
   

}

.menu ul li{
  width: 120px;
  margin: 15px ;
  padding: 20px;

}

.menu ul li a{
    color: white;
    padding: 5px 20px;
    text-decoration: none; 
}

.menu .fa{
    margin-left: 500px;
}

.menu ul li a:hover{
color: orangered;
}

.content{
    color: white;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bolds;
text-align: center;
}

span{
    color: orangered;
}

.button{
    text-align: center;
    padding-top: 25px;
    color: orangered;
  
}

.btn{
    color: rgb(250, 249, 249);
    text-decoration: none;
    font-family: 'Times New Roman';
    font-size: 18px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 20px;
}

.btn:hover{
    color: #0b0420;
    background: white;
}

.sub{
    display: none;
    text-decoration: none; 
}
  

.menu ul li:hover .sub{
    display: block;
   position: absolute;
   background: #130148;
   margin-top: 15px;
   margin-left:-15px ;
  
}

.menu ul li:hover .sub ul{
    display: block;
    margin:10px ;
   
}
.menu ul li:hover .sub ul li {
    width: 150px;
    padding: 2px;
    border-bottom: 1px rgb(250, 249, 249) dotted;
    background-color: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;
    
}

.menu ul li:hover .sub ul li a:last-child{
    border-bottom: none;
}


.fa-whatsapp{
    float:center;
    margin-left:-38px;
}



